<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue</title>
</head>

<body>
    <div id="app">
        <template v-if="loaded">
            {{ message}}

        </template>
        <template v-if="!loaded">
            pleasse wait ... 🙄
        </template>
        <div>
            <span v-if="count < 5">{{ count }}is too small</span>
            <span v-else-if="count < 10 && count > 5"> {{ count }}still smaller then 10</span>
            <span v-else-if="count < 15 && count >10"> {{ count }}still smaller then 10</span>
            <span v-else>{{ count}} is perfect</span>
            
        </div>
        <templa>
            <h1>post title</h1>
                <template v-if="loaded">
                    <div v-for="post, i in posts" >
                        <h2>(# {{ i + 1}})- {{ post.title }} </h2>
                        <h4>{{ post.body }}</h4>
                        <h2>{{ count + Math.floor(Math.random() * (20 - 1) + 1 / 2) }}</h2>
                    </div>
                </template>
                <template v-else>
                   <p> loading posts ... </p>
                </template>
        </div>
        <template v-for="data in corona.date ">
            {{ data }}
        </template>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        let app = new Vue({
            el: '#app',
            data: {
                loaded: false,
                message: 'Hello the load is completed! 🤽🏻‍♂️',
                count: 20,
                names: ['sam', 'Linnea', 'Anas'],
                corona: [],
                posts: []
            },
            mounted() {
                setTimeout(() => {

                    this.loaded = false
                    this.posts = [
                    { id:1, title: 'this is a title', body: `text that is i🚠adshgf sdofhs dfhs dfo` },
                    { id:2, title: 'this is a 🥵', body: 'text that is 🚇 sdofhs dfhs dfo' },
                    { id:3, title: 'this is a 🚂', body: 'text that is 🚄 sdofhs dfhs dfo' },
                    { id:4, title: 'this is a 🚤', body: 'text that is 🏍 sdofhs dfhs dfo' },
                ]
                    this.loaded = true
                }, 2000)

                setInterval(() => { this.count = Math.floor(Math.random() * (20 - 1) + 1) }, 1000)
                this.corona = fetch("https://pomber.github.io/covid19/timeseries.json")
                    .then(response => response.json())
                    .then(data => {
                        return data["Sweden"].forEach(({ date, confirmed, recovered, deaths }) => {
                            return { date, confirmed, recovered, deaths } = this.corona
                            console.log(`${date} active cases: ${confirmed - recovered - deaths}`)
                        }
                        )
                    })

               

            },



        })

    </script>
</body>

</html>